/* CSS Author: Sara Joy - https://sarajoy.dev */

* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
  background-color: light-dark(thistle, indigo);
  /* https://modernfontstacks.com/ Geometric Humanist */
  font-family:  Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	line-height: 1.4;

  /* https://modernfontstacks.com/ Rounded Sans */
	--display-font: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

header {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
	font-size: 1.2rem;
}

header ul {
  display: flex;
  gap: 0.75em;
  list-style-type: "";
  margin: 0;
  padding: 0;
}

header a:not(:hover, [aria-current="page"]) {
	text-decoration: none;
}

header, main, footer {
	width: min(40rem, 90%);
	margin-inline: auto;
}

footer {
	text-align: center;
}

header, h1, h2, h3 {
	font-family: var(--display-font);
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	padding: 1em 0;
}
.links-nextprev-next {
	text-align: right;
}

/* Turn on the light/dark/auto mode switcher if the theme uses color-scheme */
#mode-switcher {
	display: block !important;
}

/* Keep everything below within alternative CSS for sensible post numbering in postlist, and visually-hidden elements */

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
/* Posts list */
.postlist {
	list-style-type: "";
}
.postlist-item {
	counter-increment: start-from -1;
}
.postlist-item:before {
	content: "" counter(start-from, decimal-leading-zero) ". ";
	text-align: right;
	margin-left: -1.5rem;
}
