#theme-switching {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	padding-inline: 0.5em;
	background-color: #0002;
}

#theme-switching select {
	height: 1.75em;
}

body {
	padding-top: 2.5rem !important;
}

