#theme-switching {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em;
	margin-block-end: 0.5em;
	border-radius: 0.25em;
	background-color: #0004;
}

#theme-switching :is(select, button) {
	height: 1.75em;
	max-width: 8em;
	border-radius: 0.25em;
	border: 1px CanvasText solid;
}
#theme-switching button:is(:hover, [aria-pressed="true"]) {
	background-color: transparent;
}

#css-switcher {
	margin-inline: 0 0.25em;
}
#mode-switcher {
	margin-inline: auto 0;
}