<link rel="preload" href="/css/original/index.css" as="style" />
<link rel="preload" href="/css/classic/index.css" as="style" />
<link rel="preload" href="/css/simple-purple/index.css" as="style" />
<link rel="preload" href="/css/villapirorum/index.css" as="style" />

<script>
  let params = new URLSearchParams(document.location.search);
  const css = params.get("theme") ?? sessionStorage.getItem("css");
  const mode = params.get("mode") ?? sessionStorage.getItem("mode");
  
  const preloads = document.querySelectorAll(`link[rel="preload"]:not([href*=${css}])`);
  for (const preload of preloads) preload.remove();
</script>

<link id="current-style-sheet" rel="stylesheet" href="/css/original/index.css">

<script>
  const currentStyleSheet = document.querySelector("#current-style-sheet");
  if (css) currentStyleSheet.setAttribute("href", `/css/${css}/index.css`);
</script>