<script>
  const head = document.querySelector('head');
  const params = new URLSearchParams(document.location.search);
  const css = params.get("theme") ?? sessionStorage.getItem("css");
  const mode = params.get("mode") ?? sessionStorage.getItem("mode");

  const preload = document.createElement("link");
  preload.setAttribute("rel","preload");
  preload.setAttribute("href",`/css/${css}/index.css`);
  preload.setAttribute("as","style");
  head.prepend(preload);
</script>

<link id="current-style-sheet" rel="stylesheet" href="/css/original/index.css">

<script>
  const currentStyleSheet = document.querySelector("#current-style-sheet");
  if (css) currentStyleSheet.setAttribute("href", `/css/${css}/index.css`);
</script>