<div id="theme-switching">
  <div class="css-switching">
    <select name="css-in-use" id="css-switcher">
      <option value="original" selected>Original</option>
      <option value="classic">Classic</option>
      <option value="simple-purple">Simple Purple</option>
      <option value="villapirorum">VillaPirorum</option>
    </select>
    <small><a id="css-download-link" href="/css/original/index.css" download="">Download&nbsp;CSS</a></small>
  </div>
  <div id="mode-switcher" style="display: none">
    <p class="visually-hidden" id="light-and-dark-mode-switchers">Light and dark mode switchers</p>
    <button id="lightSwitch" aria-pressed="false" type="button" onclick="switchLight()">Light</button>
    <button id="darkSwitch" aria-pressed="false" type="button" onclick="switchDark()">Dark</button>
    <button id="autoSwitch" aria-pressed="true" type="button" onclick="switchAuto()">Auto</button>
  </div>
</div>
